body{
    padding: 0;
    margin: 0;
}
.main-header{
    width:100%;
    background-color: rgb(9, 9, 9);
}
.main-header .container{
    width:75%;
    margin-left: 195px;
    display: flex;
    justify-content: space-between;
}
.nav{
    width:40%;
    height: 55px;
    display: flex;
}
.logo{
    width:18%;
    height: 60px;
    display: flex;
}
.logo-pic{
    width: 27px;
    height: 22px;
    margin-top: 18px;
}
.logo-name{
    color: gray;
}
.logo-name:hover{
    color: aliceblue;
}
.nav-links{
    width: 82%;
}
.nav-links ul{
    list-style-type: none;
    display: flex;
    gap: 33px;
    font-size: large;
}
.nav-links li a{
    text-decoration: none;
    color: rgb(115, 117, 118);
}
.nav-links ul li a:hover{
    color: aliceblue;
}
.active{
    background-color: rgb(44, 42, 42);
    padding: 17px 10px;
}
.nav-links ul li a.active{
    color: aliceblue !important;
}
.search-field{
    margin-top: 10px ;
}
.search{
    width: 221px;
    height: 33px;
    border-radius: 5px;
}
.button-search{
    width: 78px;
    height: 36px;
    background-color: white;
    border-radius: 5px;
}
.banner{
    margin-top: 0;
    background-color: aqua;
}
.banner .container-fluid{
    height: 300px;
    background-color: yellowgreen;
    margin-top: 0;
}
.banner .container{
    margin: 0 284px 0 284px;
    padding: 72px 90px;
    color: greenyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner-title{
    font-size: 65px;
    margin-bottom: 6px;
    margin-top: 0;
    font-style: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.banner-description{
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 200;
}
.button-engage{
    background-color: #337ab7;
    border: none;
    color: rgb(248, 250, 252);
    border-radius: 5px;
    padding: 8px 20px;
    box-shadow: 1px 1px gray;
}
.main-posts{
    width: 100%;
}
.main-posts .container{
    width: 80%;
    margin-left: 164px;
    margin-top: 0;
    margin-bottom: 7px;
}
.post-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}
.post-title{
    width: 80%;
    margin-left: 105px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 34px;
}
.post-title1{
    font-size: 40px;
    margin-top: 0;
    font-weight: lighter;
}
.post-title2{
    font-size: 24px;
    color: gray;
    margin-top: 14px;
    margin-left: 8px;
}
.title-details{
    width: 100%;
    height: 50px;
}
.details{
    margin-top: 2px;
    text-align: center;
    color: rgb(173, 166, 166);
    font-size: 17px;
}
.sub-post{
    width:100%;
    display:flex;
    text-align: center;
}
.images{
    width:378px;
    height: 328px;
    border-radius: 5px;
}
.post-caption{
    text-decoration: none;
    font-size: 20px;
    margin-top: 2px;
}
.post-caption:hover{
    text-decoration:dashed;
    color: #052541;
}
.post-description{
    font-size: 15px;
    color: gray;
    
}
.end-banner{
    width: 100%;
    background-color: goldenrod;
}
.end-banner .container{
    height: 400px;
    width: 80%;
    margin-left: 164px;
    background-color: antiquewhite;
}